header {
    /* background-color: #f7f7f7; */
    background: linear-gradient(90deg, #f3f3f3, #fcfcfc);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: #26272d;
    text-decoration: none;
    margin-right: 25px;
}
nav a:hover {
    color: #267df4;
}

nav div {
    display: inline-block;
}

.menu {
    display: inline-block;
    width: 20px;
    height: 15px;
    background: url(../img/bars_icon.png) center no-repeat;
    background-size: 15px 15px;
    position: relative;
    top: 3px;
    margin-right: 30px;
}
.menu:hover {
    background: url(../img/bars_icon_hover.png) center no-repeat;
    background-size: 15px 15px;
}

.menu_left {
    text-align: left;
}

.main_name {
    text-align: center;
    text-transform: uppercase;
    margin: 60px 200px 60px 140px;
}

.main_name strong {
    font-weight: 890;
}

.menu_right {
    text-align: right;
}

.help {
    color: #9f9fa1;
}

.menu_right button {
    position: relative;
    width: 122px;
    text-align: right;
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: #267df4;
    padding: 14px 16px;
    border-radius: 25px;
}

.get_app img {
display: inline-block;
position: absolute;
top: 12px;
left: 10px;
}

.menu_right button:hover,
.crack:hover {
    box-shadow: 0 0 3px #267df4;
    cursor: pointer;
}

.menu_right button:active,
.crack:active {
    background-color: #1f61bd;
    box-shadow: 0 0 6px #1f61bd;
}

.main_view {
    font-family: Arial, Helvetica, sans-serif;   
    background: url(../img/banner_background.jpg) no-repeat bottom;
    background-size: cover;
    filter: brightness(99%);
    height: 842px;
    text-align: center;
    overflow: hidden;
}

.head_main {
    display: inline-block;
}

.head_main h1 {
    color: #26272d;
    padding-top: 70px;
    padding-bottom: 15px;
    font-size: 65px;
    opacity: 0;
    position: relative;
    animation: vis_header 800ms linear forwards;
}

.head_main p {
    color: #8c8f94;
    font-size: 19px;
    width: 780px;
    padding-bottom: 65px;
    opacity: 0;
    position: relative;
    animation: vis_header 500ms linear 300ms forwards;
}

.btn_video .btn_play {
    position: relative;
    border: solid 2px #e9eaeb;
    width: 215px;
    height: 50px;
    font-size: 16px;
    padding-left: 30px;
    border-radius: 25px;
    background-color: transparent;

}

.btn_play:hover,
.more_info:hover {
    box-shadow: 0 0 5px #dadcde;
    cursor: pointer;
}
.btn_play:active,
.more_info:active {
    box-shadow: 0 0 15px #bbbcbd;
}

.btn_play img {
    position: absolute;
    left: 20px;
    top: 9px;
}

.btn_video {
    padding-bottom: 55px;
    opacity: 0;
    position: relative;
    animation: vis_header 400ms linear 400ms forwards;
}

.tel_display {
    display: inline-block;
    position: relative;
    background: url(../img/tel.png) no-repeat center top;
    width: 370px;
    height: 755px;
    color: #26272d;
    opacity: 0;
    animation: vis_tel_dispaly 600ms linear 300ms forwards;
}

.menu_tel h4 {
    display: inline-block;
}

.menu_tel {
    margin-top: 100px;
    padding-top: 9px;
    height: 30px;
    position: relative;
}
.menu_menu {
    position: absolute;
    left: 50px;
    top: 10px;
}
.add {
    position: absolute;
    right: 50px;
    top: 7px;
}

.wheather {
    position: relative;
}
.wheather img {
    position: absolute;
    left: 110px;
    top: 15px;
}
.wheather p {
    display: inline-block;
    font-size: 13px;
    padding-top: 36px;
    padding-left: 60px;
}

.temp {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 200px;
    font-weight: 900;
    letter-spacing: -15px;
    height: 200px;
}

sup {
    position: relative;
    bottom: 70px;
    vertical-align: super;
    font-size: 50px;
}

.other_param {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.other_param span {
    display: inline-block;
    margin: 10px 15px;
}
.other_param img {
    position: relative;
    right: 7px;
    top: 3px;
}

@keyframes vis_tel_dispaly {
    from {
        opacity: 0;
        top: 444px;
    }
    to {
        opacity: 100%;
        top: 0;
    }
}

@keyframes vis_header {
    from {
        opacity: 0;
        top: 80px;
    }
    to {
        opacity: 100%;
        top: 0;
    }
}

.description {
    height: 540px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    overflow: hidden;
}

.description div {
    display: inline-block;
    margin-top: 100px;
    width: 500px;
    text-align: left;
    color: #8c8f94;
    vertical-align: top;
    font-size: 17px;
    line-height: 1.4em;
    position: relative;
    animation: vis_dis 800ms linear forwards;
}
.description h3 {
    font-size: 23px;
    margin-top: 40px;
    margin-bottom: 53px;
    color: #26272d;
}

.description p {
    margin-bottom: 30px;
}

.left_col {
    margin-right: 110px;
}

@keyframes vis_dis {
    from {
        opacity: 0;
        top: 400px;
    }
    20% {
        top: 300px;
    }
    to {
        opacity: 100%;
        top: 0;
    }
}

.description_2 {
    height: 940px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

.description_2 div {
    display: inline-block;
    margin-top: 162px;
    vertical-align: top;
    text-align: left;
}

.vis_tel {
    background: url(../img/iphone-feature.png) no-repeat right bottom;
    width: 50%;
    height: 800px;
    position: relative;
    animation: visible_tel 800ms linear;
}

.artic p,
.artic_place p {
    margin-bottom: 40px;
    color: #8c8f94;
    font-size: 17px;
    line-height: 1.4em;

}
.artic {
    padding-top: 50px;
    width: 460px;
    margin-left: 100px;
    margin-right: 320px;
    white-space: normal;
}
.artic h3,
.artic_place h3 {
    color: #26272d;
    font-size: 65px;
    margin-bottom: 80px;
}

.artic button {
    margin-top: 35px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 25px;
}

.crack {
    color: #fff;
    border: none;
    background: #267df4 url(../img/rightarrow.png) no-repeat 92%;
    background-size: 14px;
    padding: 15px 55px 15px 25px;
}
.more_info {
    padding: 14px 24px;
    margin-left: 18px;
    border: solid 2px #e9eaeb;
    background-color: transparent;
}

@keyframes visible_tel {
    from { right: 900px; }
    to { right: 0; }
}

.description_place {
    margin-top: 280px;
    height: 780px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
.description_place div {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    text-align: left;
}

.artic_place {
    width: 470px;
    white-space: normal;
    margin-left: 18vw;
}

.place_on_map {
    background: url(../img/map.png) left no-repeat;
    background-size: 1050px;
    background-position-y: 40px;
    margin-left: 70px;
    width: 975px;
    height: 600px;
    position: relative;

    animation: map 800ms linear;
}

.artic_place h2 {
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-top: 30px;
}
.res img {
    margin-top: 30px;
    margin-right: 30px;
}

@keyframes map {
    from { left: 1000px; }
    to { left: 0; }
}